<%- title "#{@branch.name}" %>
<div class="col-lg-12 show">
	<div class="page-header">
		<h1><%= @branch.name %></h1>
		<a title="Edit" href="<%= edit_branch_path(@branch) %>"><span class="glyphicon glyphicon-pencil"></span></a>
	</div>

<div class="row">
	<div class="col-sm-2"><strong><%= t("views.branches.name") %></strong></div>


	<div class="col-sm-10"><%= @branch.try(:name) || 'N/A' %></div>
</div>

<div class="row">
	<div class="col-sm-2"><strong><%= t("views.branches.description") %></strong></div>


	<div class="col-sm-10"><%= @branch.try(:description) || 'N/A' %></div>
</div>

<div class="row">
	<div class="col-sm-2"><strong><%= t("views.branches.state_id") %></strong></div>

	<div class="col-sm-10"><%= link_to @branch.state.name, @branch.state if @branch.state_id %></div>
</div>
</div>