<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: confirm_path, method: :put ) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :confirmation_token, value: @original_token %>
  <%= f.hidden_field :email, value: resource.email %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "activate" %>
  </div>
<% end %>
