<%- if controller_name != 'sessions' %>
  <%= link_to t("devise.shared.links.log_in"), new_user_session_path %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <br /><small><%= link_to t("devise.shared.links.forget_password"), new_password_path(resource_name), { style: "display: block; text-align: center" } %></small>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <br /><br />
  <p class="login-box-msg"><%= t('devise.shared.links.sign_in_options')%> </p>
  <div style="display: block-inline; text-align: center">
    <%- resource_class.omniauth_providers.each do |provider| %>

      <%= link_to "", omniauth_authorize_path(resource_name, provider), { class: "fa fa-#{provider.to_s.singularize} fa-3x" } %>
    <% end -%>
  </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <div style="display: block-inline; text-align: center">
      <br /><small><%= t('devise.shared.links.dont_have_account') %></small>
      <%= link_to t("devise.shared.links.sign_up"), new_registration_path(resource_name) %>
    </div>
<% end -%>

<!-- 
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%> -->

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>
