<%- title "#{@user.name}" %>
<div class="col-lg-12 show">
	<div class="page-header">
		<h1><%= @user.name %></h1>
			<a title="Edit" href="<%= edit_user_path(@user) %>"><span class="glyphicon glyphicon-pencil"></span></a>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.users.name") %></strong></div>


		<div class="col-sm-10"><%= @user.try(:name) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.users.full_name") %></strong></div>


		<div class="col-sm-10"><%= @user.try(:full_name) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.users.mobile") %></strong></div>


		<div class="col-sm-10"><%= @user.try(:mobile) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.users.email") %></strong></div>


		<div class="col-sm-10"><%= @user.try(:email) || 'N/A' %></div>
	</div>

  <div class="row">
		<div class="col-sm-2"><strong><%= t("views.users.role") %></strong></div>
	<div class="col-sm-10"><%= link_to @user.role.name, @user.role if @user.role_id %></div>
	</div>
	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.users.active") %></strong></div>


		<div class="col-sm-10"><%= @user.active ? raw('<span class="glyphicon glyphicon-ok"></span>') : raw('<span class="glyphicon glyphicon-remove"></span>') %></div>
		</div>
</div>
