<%- title "#{@cost.total_cost}" %>
<div class="col-lg-12 show">
	<div class="page-header">
		<h1><%= @cost.total_cost %></h1>
    <a title="Edit" href="<%= edit_activity_cost_path(@cost.activity) %>"><span class="glyphicon glyphicon-pencil"></span></a>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.costs.total_cost") %></strong></div>


		<div class="col-sm-10"><%= @cost.total_cost ? number_with_precision(@cost.total_cost) :'N/A' %></div>
	</div>
   
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
              <th><%= t("views.lines.name") %></th>
              <th><%= t("views.lines.quantity") %></th>
              <th><%= t("views.lines.price") %></th>
              <th class="hidden-print"></th>
        </tr>
      </thead>

      <tbody>
        <% @cost.lines.each do |line| %>
          <tr>
    

            <td><%= line.name %></td>
    

            <td><%= line.quantity %></td>
    

            <td><%= line.price %></td>
                <td class="hidden-print actions">
              <div class="btn-group">
                <%= link_to t('views.epp.links.show'), line , :class => 'btn btn-xs btn-default' %>
                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> 
</div>