<%= form_for @project, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

    <div class="form-group">
      <%= f.label :name, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_field :name, :class => 'form-control' %></div>
    </div>

    <div class="form-group">
      <%= f.label :budget, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_field :budget, :class => 'form-control' %></div>
    </div>



      <div class="form-group">
        <%= f.label :from, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.text_field :from, :class => 'form-control pickdate', :placeholder => 'YYYY-MM-DD' %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
      </div>



      <div class="form-group">
        <%= f.label :to, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.text_field :to, :class => 'form-control pickdate', :placeholder => 'YYYY-MM-DD' %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
      </div>

    <div class="form-group">
      <%= f.label :goal, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_area :goal, :class => 'form-control' %></div>
    </div>

    <div class="form-group">
      <%= f.label :description, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_area :description, :class => 'form-control' %></div>
    </div>
    
    <div class="form-group">
      <%= f.label :branch_id, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.select :branch_id, Branch.all.collect {|p| [ p.name, p.id ] }, {}, { :class => 'form-control' } %>
            <span class="input-group-btn">
            <%= link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_branch_path, :class => 'btn btn-default', :target => '_blank' %>
            <%= link_to raw('<span class="glyphicon glyphicon-play"></span>'), branches_path, :class => 'btn btn-default goto' %>
            </span>
          </div>
      </div>
    </div>  

          <div class="form-group">
        <%= f.label :location_id, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.select :location_id, Location.all.collect {|p| [ p.name, p.id ] }, {}, { :class => 'form-control' } %>
            <span class="input-group-btn">
            <%= link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_location_path, :class => 'btn btn-default', :target => '_blank' %>
            <%= link_to raw('<span class="glyphicon glyphicon-play"></span>'), locations_path, :class => 'btn btn-default goto' %>
            </span>
          </div>
        </div>
      </div>


    <div class="form-group">
      <% if Project.exists?(@project.id) && @project.project_attachments.any? %>
          <div class="col-sm-2 control-label"><strong><%= t("views.projects.attachments") %></strong></div>
          <div class="col-sm-10">
            <ul>
              <% @project.project_attachments.each do |project_attachment| %>
                <li> <%= project_attachment.attachment_file_name %> |
                  <%= link_to " [ Remove ]", [@project, project_attachment], method: :delete %>
                </li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>
    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= link_to_add_fields t("views.projects.add_attachment") , f, :project_attachments %>
      </div> 
    </div>

      <div class="page-header">
        <div class="row">
          <h4><%= t("views.epp.links.translation fields") %></h4>
        </div>  
      </div>
    <%= f.globalize_fields_for other_locale do |ff| %>
      <%= ff.hidden_field :locale, value: other_locale %>
      <div class="form-group">
        <%= ff.label t("views.donors.name")+t("views.epp.links.in %{lang}", lang: t("views.epp.links.#{other_locale.to_s}")), :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= ff.text_field :name, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= ff.label t("views.donors.description")+t("views.epp.links.in %{lang}", lang: t("views.epp.links.#{other_locale.to_s}")), :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= ff.text_area :description, :class => 'form-control' %>
        </div>
      </div>
    <% end %>
        
  <div class="buttons">
    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span><%= t('views.epp.links.save') %></button>
    <%= link_to raw("<span class='glyphicon glyphicon-trash'></span> #{t('views.epp.links.back')}"), projects_path , :class => 'btn btn-default' %>
  </div>
<% end %>