<%- title t "views.application_layout.projects" %>
<div class="col-xs-12">

  <div class="page-header">
    <h1><%= t "views.application_layout.projects" %> <small><%= t("views.epp.Listing of all %{model}", :model => t("views.projects.projects")) %></small>
      <%= link_to link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_project_path , :class => 'btn btn-lg hidden-print' %>
    </h1>
  </div>
</div>


<% @projects.each do |project| %>
  <div class="entity-box col-md-3 col-sm-6 col-xs-12">
    <div class="info-box"  style="background-color: #000">
      <ul class="action-menu">
        <li><a title="show" href="<%= project_path(project) %>"><span class="glyphicon glyphicon-file"></span></a></li>
        <li><a title="Edit" href="<%= edit_project_path(project) %>"><span class="glyphicon glyphicon-pencil"></span></a></li>   
      </ul>

  <div class="info-box-content">
        <a href="<%= project_path(project) %>">
        <span class="info-box-text"><%= project.name %></span>
        
        <span class="progress-description"> 
            <p><%= project.budget %></p>

            <p><%= project.from %></p>
    
            <p><%= project.to %></p>

            <p><%= project.goal %></p>
        </span>
        </a>
      </div>
    </div>
  </div>
<% end %>