<%- title "#{@project.name}" %>
<div class="col-lg-12 show">
	<div class="page-header">
		<h1><%= @project.name %></h1>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.projects.name") %></strong></div>


		<div class="col-sm-10"><%= @project.try(:name) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.projects.budget") %></strong></div>


		<div class="col-sm-10"><%= @project.try(:budget) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.projects.from") %></strong></div>


		<div class="col-sm-10"><%= @project.try(:from) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.projects.to") %></strong></div>


		<div class="col-sm-10"><%= @project.try(:to) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.projects.goal") %></strong></div>


		<div class="col-sm-10"><%= @project.try(:goal) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.projects.description") %></strong></div>


		<div class="col-sm-10"><%= @project.try(:description) || 'N/A' %></div>
	</div>

		<div class="col-sm-10"><%= link_to @project.location.name, @project.location if @project.location_id %></div>
		</div>

    	<div class="col-sm-10"><%= link_to @project.branch.name, @project.branch if @project.branch_id %></div>
		</div>


  <div class="row">
  	<div class="col-sm-2"><strong><%= t("views.projects.attachments") %></strong></div>
    <div class="col-sm-10">
    	<% if @project.project_attachments.any? %>
		  	<ul>
			  	<% @project.project_attachments.each do |project_attachment| %>
						<li><%= link_to project_attachment %></li>
			    <% end %>
			  </ul>
		<% else %>
		<p>NA</p>
		<% end %>
    <div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.projects.latest on project") %></strong></div>
	  
			<div class="col-sm-10">
				<% @activities.each do |activity| %>	  
					<ul>
						<% if activity.trackable %>
						  <% if activity.trackable.project_id == @project.id %>
							 	<li>
							 		<%= render_activity activity %> By <strong><%= activity.owner ? activity.owner.name : 'Guest' %></strong>
							 	</li>
						  <% end %>
						 <% end %> 
					</ul>
			<% end %>
		</div>
	</div>

	<div class="buttons">
		<%= link_to t('views.epp.links.edit'), edit_project_path(@project), :class => 'btn btn-warning' %>
		<%= link_to t('views.epp.links.back'), projects_path, :class => 'btn btn-default' %>
	</div>
</div>