<%- title "#{@role.name}" %>
<div class="col-lg-12 show">
	<div class="page-header">
		<h1><%= @role.name %></h1>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.roles.name") %></strong></div>


		<div class="col-sm-10"><%= @role.try(:name) || 'N/A' %></div>
	</div>


	<div class="buttons">
		<%= link_to t('views.epp.links.edit'), edit_role_path(@role), :class => 'btn btn-warning' %>
		<%= link_to t('views.epp.links.back'), roles_path, :class => 'btn btn-default' %>
	</div>
</div>