<%= form_for @activity, :html => {:class => 'form-horizontal'} do |f| %>
  <% if @activity.errors.any? %>
    <% @activity.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

    <div class="form-group">
      <%= f.label :name, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_field :name, :class => 'form-control' %></div>
    </div>


      <div class="form-group">
        <%= f.label :project_id, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.select :project_id, Project.all.collect {|p| [ p.name, p.id ] }, {}, { :class => 'form-control' } %>
            <span class="input-group-btn">
            <%= link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_project_path, :class => 'btn btn-default', :target => '_blank' %>
            <%= link_to raw('<span class="glyphicon glyphicon-play"></span>'), projects_path, :class => 'btn btn-default goto' %>
            </span>
          </div>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :branch_id, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.select :branch_id, Branch.all.collect {|p| [ p.name, p.id ] }, {}, { :class => 'form-control' } %>
            <span class="input-group-btn">
            <%= link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_branch_path, :class => 'btn btn-default', :target => '_blank' %>
            <%= link_to raw('<span class="glyphicon glyphicon-play"></span>'), branches_path, :class => 'btn btn-default goto' %>
            </span>
          </div>
        </div>
      </div>




    <div class="form-group">
      <%= f.label :budget, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_field :budget, :class => 'form-control' %></div>
    </div>




    <div class="form-group">
      <%= f.label :description, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_area :description, :class => 'form-control' %></div>
    </div>




    <div class="form-group">
      <%= f.label :from, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.datetime_select :from, :class => 'form-control' %></div>
    </div>




    <div class="form-group">
      <%= f.label :to, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.datetime_select :to, :class => 'form-control' %></div>
    </div>




    <div class="form-group">
      <%= f.label :repeated, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.check_box :repeated %></div>
    </div>
   

     <div class="form-group">
        <%= f.label :location_id, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.select :location_id, Location.all.collect {|p| [ p.name, p.id ] }, {}, { :class => 'form-control'} %>
            <span class="input-group-btn">
            <%= link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_location_path, :class => 'btn btn-default', :target => '_blank' %>
            <%= link_to raw('<span class="glyphicon glyphicon-play"></span>'), locations_path, :class => 'btn btn-default goto' %>
            </span>
          </div>
        </div>
      </div>

    <div class="page-header">
      <h4><%= t("views.epp.links.translation fields") %></h4>
    </div>
    <%= f.globalize_fields_for other_locale do |ff| %>
      <%= ff.hidden_field :locale, value: other_locale %>
      <div class="form-group">
        <%= ff.label t("views.donors.name")+t("views.epp.links.in %{lang}", lang: t("views.epp.links.#{other_locale.to_s}")), :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= ff.text_field :name, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= ff.label t("views.donors.description")+t("views.epp.links.in %{lang}", lang: t("views.epp.links.#{other_locale.to_s}")), :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= ff.text_area :description, :class => 'form-control' %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
    <label class="col-sm-2 control-label" for="attachment_file"></label>
    <div class="col-sm-10"><button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span> <%= t('views.epp.links.save') %></button></div>
  </div>

<% end %>