<%- title "#{@activity.name}" %>
<div class="col-lg-12 show">
	<div class="page-header">
		<h1><%= @activity.name %></h1>
		<li><a title="Edit" href="<%= edit_activity_path(@activity) %>"><span class="glyphicon glyphicon-pencil"></span></a></li>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.activities.name") %></strong></div>


		<div class="col-sm-10"><%= @activity.try(:name) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.activities.project_id") %></strong></div>

		<div class="col-sm-10"><%= link_to @activity.project.name, @activity.project if @activity.project_id %></div>
		</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.activities.branch_id") %></strong></div>

		<div class="col-sm-10"><%= link_to @activity.branch.name, @activity.branch if @activity.branch_id %></div>
		</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.activities.budget") %></strong></div>


		<div class="col-sm-10"><%= @activity.try(:budget) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.activities.description") %></strong></div>


		<div class="col-sm-10"><%= @activity.try(:description) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.activities.from") %></strong></div>


		<div class="col-sm-10"><%= @activity.try(:from) || 'N/A' %></div>
	</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.activities.to") %></strong></div>


		<div class="col-sm-10"><%= @activity.try(:to) || 'N/A' %></div>
	</div>
  
  	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.activities.location_id") %></strong></div>
   		<div class="col-sm-10"><%= link_to @activity.location.name, @activity.location if @activity.location_id %></div>
		</div>

	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.activities.repeated") %></strong></div>


		<div class="col-sm-10"><%= @activity.repeated ? raw('<span class="glyphicon glyphicon-ok"></span>') : raw('<span class="glyphicon glyphicon-remove"></span>') %></div>
	</div>


	<div class="row">
		<div class="col-sm-2"><strong><%= t("views.activities.members") %></strong></div>
    <div class="col-sm-10">
		<ul class="quite">
			<% @activity.activity_members.each do |activity_member|  %>
				<li>
					<%= link_to activity_member.member.name, member_path(activity_member.member.id)%>	
					<%= link_to raw("<i class='fa fa-times'></i> " + t("views.activities.Remove")), activity_member_path(activity_member.id), method: :delete, data: { confirm: 'Are you sure?' } %>
				</li>
			<% end %>
		</ul>		
		<% if @members.size > 0 %>
			<%= form_tag({controller: "activities" , action: "add_member" , method: "post"}, {class:"form-inline"}) do %>
				<%= select_tag(:member_id,options_for_select(@members.collect{|member| [member.name, member.id]}), class: "select2 form-control") %>
				<%= hidden_field_tag(:activity_id, @activity.id) %>
				<%= submit_tag t('views.activities.Add Member'), class: 'btn btn-default'%>
			<% end %>
		<% end %>
    </div>
  </div>

  <% if @activity.cost%>
  	<div><%= link_to t('views.activities.edit_activity_cost'), edit_activity_cost_path(@activity) %></div>
  <% else %>
 		<div><%= link_to t('views.activities.new_activity_cost'), new_activity_cost_path(@activity) %></div>  
 	<% end %>