<%= form_for @member, :html => {:class => 'form-horizontal', :multipart => true } do |f| %>
  <% if @member.errors.any? %>
    <% @member.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
    <div class="form-group">
      <%= f.label :name, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_field :name, :class => 'form-control' %></div>
    </div>

    <div class="form-group">
      <%= f.label :gender, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
      <%= f.select :gender, options_for_select(@genders.collect { |s| [s[0].humanize, s[0]] }, selected: @member.gender), {} , class: "form-control"%></div>
    </div>

    <div class="form-group">
      <%= f.label :profession_id, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.select :profession_id, Profession.all.collect {|p| [ p.name, p.id ] }, {}, class: "select2" , id: "selected_profession" %>
      </div>
    </div>
    <div class="form-group">
      <div class='col-sm-10' data-depends-on='#selected_profession', data-depends-on-value='other'>
        <%= f.label "other_profession", :class => 'col-sm-2 control-label' %>
        <%= f.text_field :other_profession %>
      </div>
    </div> 


      <div class="form-group">
        <%= f.label :joined_at, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.text_field :joined_at, :class => 'form-control pickdate', :placeholder => 'YYYY-MM-DD' %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
      </div>




    <div class="form-group">
      <%= f.label :email, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_field :email, :class => 'form-control' %></div>
    </div>




    <div class="form-group">
      <%= f.label :mobile, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_field :mobile, :class => 'form-control' %></div>
    </div>




    <div class="form-group">
      <%= f.label :address, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_field :address, :class => 'form-control' %></div>
    </div>


    <div class="form-group">
      <%= f.label :education, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_field :education, :class => 'form-control' %></div>
    
    </div>
      <div class="form-group">
        <%= f.label :branch_id, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.select :branch_id, Branch.all.collect {|p| [ p.name, p.id ] }, {}, { :class => 'form-control' } %>
            <span class="input-group-btn">
            <%= link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_branch_path, :class => 'btn btn-default', :target => '_blank' %>
            <%= link_to raw('<span class="glyphicon glyphicon-play"></span>'), branches_path, :class => 'btn btn-default goto' %>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :role_id, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.select :role_id, Role.all.collect {|p| [ p.name, p.id ] }, {}, { :class => 'form-control' } %>
            <span class="input-group-btn">
            <%= link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_role_path, :class => 'btn btn-default', :target => '_blank' %>
            <%= link_to raw('<span class="glyphicon glyphicon-play"></span>'), roles_path, :class => 'btn btn-default goto' %>
            </span>
          </div>
        </div>
      </div>




    <div class="form-group">
      <%= f.label :bio, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.text_area :bio, :class => 'form-control' %></div>
    </div>

    <div class="form-group">
      <%= f.label :avatar, :class => 'col-sm-2 control-label' %>
      <div class="col-sm-10"><%= f.file_field :avatar, :class => 'form-control' %></div>
    </div>



      <div class="form-group">
        <%= f.label :active, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="checkbox">
            <label>
              <%= f.check_box :active%> Active
            </label>
          </div>
        </div>
      </div>

  
  <div class="form-group">
    <label class="col-sm-2 control-label" for="attachment_file"></label>
    <div class="col-sm-10"><button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span> <%= t('views.epp.links.save') %></button></div>
  </div>
      
<% end %>