<%- title t "views.application_layout.members" %>
<div class="col-xs-12">

  <div class="page-header">
    <h1><%= t "views.application_layout.members" %> 
      <%= link_to link_to raw('<span class="glyphicon glyphicon-plus"></span>'), new_member_path , :class => 'btn btn-lg hidden-print' %>
    </h1>
  </div>
</div>


<% @members.each do |member| %>  <div class="entity-box col-md-3 col-sm-6 col-xs-12">
    <div class="info-box"  style="background-color: #000">
      <ul class="action-menu">
        <li><a title="show" href="<%= member_path(member) %>"><span class="glyphicon glyphicon-file"></span></a></li>
        <li><a title="Edit" href="<%= edit_member_path(member) %>"><span class="glyphicon glyphicon-pencil"></span></a></li>   
      </ul>

  <div class="info-box-content">
        <a href="<%= member_path(member) %>">
        <span class="info-box-text"><%=  member.name %></span>
        
        <span class="progress-description"> 
            <p><%= member.email  %></p>

             <% if member.branch %>
              <p><%= link_to member.branch.name, member.branch if member.branch_id %></p>
            <% else %>
              <p> NA </p>
            <% end %>
            <p><%= link_to member.role.name, member.role if member.role_id %></p>

            <p><%= member.active ? raw('<span class="glyphicon glyphicon-ok"></span>') : raw('<span class="glyphicon glyphicon-remove"></span>') %></p>
        </span>
        </a>
      </div>
    </div>
  </div>
<% end %>